body{
	margin: 0;
	padding: 0;
	background-image: url("img/repeated-square.png");
	font-family: Helvetica, sans-serif;
	color: rgba(24, 24, 24, 0.753);
}
.banner{
	width: 100%;
	height: 60px;
	margin: 0, auto;
	background: white;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: 0 4px 4px #F1F1F1;
	display: flex;
	position: sticky;
	top: 0;
	z-index: 1000;
}
#slider{
	width: 240px;
	height: 600px;
	border: 1px solid black;
	margin: 30px;
	margin-top: 0;
}
.bodysection{
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	background: white;
	display: flex;
}
.mainsection{
	width: 100%;
	margin: 60px;
}
#mylogo{
	width: 400px;
	height: 60px;
	position: fixed;
	left: 15%;

}
#icon{
	height: 50px;
	margin: 5px;
	float: left;
	content:url("img/logo.jpg");
	
}
#name{
	font-size: 30px;
	color: black;
	font-weight: bolder;
	float: left;
	margin: 0;
	margin-top: 15px;
	
}
#code{
	float: left;
	margin-right: 30px;
}
.langlinks{
	position: fixed;
	left: 700px;
}
.menu{
	width: 80px;
	height: 60px;
	float: left;
	position: relative;
	left: calc(85% - 240px);
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	font-family: Bradley Hand, cursive;
	font-size: 15px;
	font-style: normal;
	color: black;
	cursor: pointer;
}
.link {
	text-decoration: none;
	color: black;
}
.menu:hover .link{
	color: blue;
	font-size: 16px;
}
h1{
	font-weight: normal;
}
h4{
	margin-bottom: 0;
	margin-right: 0;
	font-weight: normal;
}
hr{
	margin-bottom: 30px;
}
p{
	font-size: 18px;
	text-align: justify;
}
.footer{
	min-width: 1000px;
	width: 1000px;
	height: 155px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
}
#fb{
	width: 250px;
	height: 155px;
	float: left;
}
#fb:hover{
	background-color: #4668b3;
}
#yt{
	width: 250px;
	height: 155px;
	float: left;
}
#yt:hover{
	background-color: #d94348;
}
#tw{
	width: 250px;
	height: 155px;
	float: left;
}
#tw:hover{
	background-color: #3095d3;
}
#skype{
	width: 250px;
	height: 155px;
	float: left;
}
#skype:hover{
	background-color: #00aff0;
}
.logo{
	float: left;
	height: 200px;
	margin: 30px;
	margin-left: 0;
	margin-top: 0;
}
.otherlinks{
	float: right;
}
.rightsection{
	float: right;
	width: 250px;
	height: 80%;
	line-height: 25px;
}
.nav-bar-title{
	height: 50px;
	width: 200px;
	background-color: rgb(0, 0, 0);
	border-radius: 20px 20px 0 0;
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	
}
.nav-bar-option{
	border-top: 1px dashed rgb(255, 255, 255);
	height: 50px;
	width: 200px;
	background-color: rgb(0, 0, 0);
	line-height: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	display: block;
	
}
.nav-bar{
	position: sticky;
	left: 87%;
	bottom: 0;
	width: 200px;
	height: 50px;
	transition: height 1s;
	cursor: pointer;
}
.nav-bar-option:hover{
	letter-spacing: 1.5px;
}
.nav-bar-option a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.leftsection{
	width: 0px;
	height: 660px;
	float: left;
	border-radius: 0 20px 20px 0;
	position: fixed;
	top: 150px;
	left: 0px;
	background: linear-gradient(#A2A2A2, #575757, #A2A2A2);
	text-align: center;
	padding: 20px;
	transition: width 1s ease-in-out;
	overflow: hidden;
}
.left-par{
	text-align: left;
	font-size: 16px;
	color: #111111;
	line-height: 25px;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.left-title{
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.close{
	font-size: 30px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.paragraph-bar{
	width: calc(100% - 280px);
	height: 70px;
	background-color: #9c9c97;
	font-size: 30px;
	line-height: 70px;
	padding-left: 30px;
	font-weight: bolder;
	cursor: pointer;
}
.paragraph{
	height: 0;
	transition: height 0.5s;
	overflow: hidden;
}
